version: "3.9"

services:
    server:
        image: jacoblincool/cimple-server:latest
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8080:8080"
